/.vscode
/a.exe
/arraybubblesorting.c
/index.html
/Today is day 1
/tute1.c
/tute13.c
/tute14.c
/tute14.exe
/tute15.c
/tute16.c
/tute17.c
/tute18.c
/tute19.c
/tute2.c
/tute21.c
/tute23.c
/tute23.exe
/tute3.c
/tute4.c
/tute5.c
/tute7.c
/tute8.c
/tute9.c